* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body,
html {
  height: 100%;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 60%;
  position: relative;
  background-attachment: fixed;
}

.photo1 {
  background-image: url("../images/foto1.jpg");
}

.photo2 {
  background-image: url("../images/foto2.jpg");
}

.photo3 {
  background-image: url("../images/foto3.jpg");
}

.photo4 {
  background-image: url("../images/foto4.jpg");
}
.photo1__title,
.photo1__style,
.photo1__design {
  font-size: 4.2em;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #000;
  margin-bottom: 10px;
}

.photo1__title {
  top: 30%;
}

.photo1__style {
  top: 42%;
  color: #ff5f40;
}

.photo1__design {
  top: 54%;
  color: #ff5f40;
}

section {
  background: white;
  color: #000;
  font-size: 1.3em;
  text-align: center;
  padding: 20px 20px;
}

.section2 {
  background-color: #1b262c;
  color: white;
}

.footer {
  background-color: #1b262c;
  color: white;
}

.footer p {
  padding: auto 0;
  text-align: center;
  line-height: 1.5em;
}

@media screen and (max-width: 450px) {
  .photo1__title,
  .photo1__style,
  .photo1__design {
    font-size: 3em;
  }

  .section1,
  .section2,
  .section3 {
    font-size: 1em;
  }

  .section1 h2 {
    margin-bottom: 10px;
  }
  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    height: 100vh;
  }

  .photo1__title {
    top: 30%;
  }

  .photo1__style {
    top: 45%;
    color: #ff5f40;
  }

  .photo1__design {
    top: 60%;
    color: #ff5f40;
  }
}
